version: '3.8'
services:
  web_holzwerk_meister:
    image: ghcr.io/speedyunited/webseite-3:v0.1.0
    ports:
      - "8080:80"
    depends_on:
      - php
    networks:
      - web
    restart: unless-stopped

  php:
    image: ghcr.io/speedyunited/webseite-2-php:latest
    networks:
      - web
    restart: unless-stopped

networks:
  web:
    driver: bridge
