version: '3.8'
services:
  web_holzwerk_meister:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - php
    networks:
      - web
    restart: unless-stopped

  php:
    build:
      context: .
      dockerfile: Dockerfile.php
    networks:
      - web
    restart: unless-stopped

networks:
  web:
    driver: bridge
